@charset "UTF-8";

/* CSS Resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Styles */

:root {
    --BG_HUE: 245;
    --BG_SAT: 100%;
    --BG_LIGHT: 14%;
    --COLOR_BG: hsl(var(--BG_HUE), var(--BG_SAT), var(--BG_LIGHT));
    --COLOR_BG_OFF: hsl(
        var(--BG_HUE),
        calc(var(--BG_SAT) - 40%),
        calc(var(--BG_LIGHT) - 10%)
    );

    --PRIMARY_HUE: 334;
    --PRIMARY_SAT: 100%;
    --PRIMARY_LIGHT: 46%;
    --COLOR_PRIMARY: hsl(
        var(--PRIMARY_HUE),
        var(--PRIMARY_SAT),
        var(--PRIMARY_LIGHT)
    );
    --COLOR_PRIMARY_SHADOW: hsl(
        var(--PRIMARY_HUE) var(--PRIMARY_SAT) var(--PRIMARY_LIGHT) / 0.25
    );
    --COLOR_PRIMARY_DARK: hsl(
        var(--PRIMARY_HUE),
        calc(var(--PRIMARY_SAT)),
        calc(var(--PRIMARY_LIGHT) - 15%)
    );
    --COLOR_PRIMARY_DARKER: hsl(
        var(--PRIMARY_HUE),
        calc(var(--PRIMARY_SAT)),
        calc(var(--PRIMARY_LIGHT) - 25%)
    );
    --COLOR_SECONDARY: hsl(328, 100%, 35%);
    --COLOR_TERTIARY: hsl(336, 100%, 69%);
    --TEXT-WHITE: whitesmoke;
}

body {
    background: radial-gradient(var(--COLOR_BG), var(--COLOR_BG_OFF) 65%);
    font-family: 'Truculenta', sans-serif;
}

a {
    vertical-align: bottom;
    display: inline-block;
    padding-inline: 2px;
    position: relative;
    color: var(--COLOR_TERTIARY);
    text-decoration: none;
    overflow: hidden;
    transition: color 400ms ease-in;
}

a::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: var(--COLOR_SECONDARY);
    transform: translateY(94%);
    transition: transform 400ms ease-in, background-color 400ms ease-in,
        opacity 400ms ease-in, filter 400ms ease-in;
    z-index: -1;
}

a:hover,
a:active {
    color: var(--COLOR_PRIMARY);
    transition: color 200ms ease-out;
}

a:hover::before,
a:active::before {
    background-color: var(--COLOR_TERTIARY);
    transform: translateY(0%);
    filter: brightness(1.35);
    transition: transform 200ms ease-out, background-color 200ms ease-out,
        opacity 200ms ease-out, filter 200ms ease-out;
}

.app {
    height: 100%;
    width: 100%;
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.app h1 {
    color: var(--COLOR_PRIMARY);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.app footer {
    color: var(--COLOR_PRIMARY);
    font-size: 1.2rem;
    text-align: center;
}

.app .main {
    position: relative;
    flex: auto;
    width: 100%;
}

.main__page {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.main__page-active {
    opacity: 1;
    pointer-events: all;
}

/* 3D Magical Buttons, by Josh W. Comeau - https://www.joshwcomeau.com/animation/3d-button/ */
.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.pushable__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: var(--COLOR_PRIMARY_SHADOW);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable__edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        var(--COLOR_PRIMARY_DARKER) 0%,
        var(--COLOR_PRIMARY_DARK) 8%,
        var(--COLOR_PRIMARY_DARK) 92%,
        var(--COLOR_PRIMARY_DARKER) 100%
    );
}

.pushable__label {
    display: block;
    position: relative;
    background-color: var(--COLOR_PRIMARY);
    color: var(--TEXT-WHITE);
    border-radius: 12px;
    padding: 12px 42px;
    font-size: 1.25rem;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .pushable__label {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .pushable__label {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .pushable__shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .pushable__shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.max-width {
    max-width: 1200px;
    padding-inline: 16px;
    margin: auto;
}

.text-shadow {
    text-shadow: 2px 4px 12px currentColor;
}
